*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 30px;
}

body {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: #F7F7F7;
    padding: 10px;
    border: 7px solid black;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    background-color: lightslategray;
    height: 90px;
    border: 4px solid black;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#buttons button {
    height: 90px;
    width: 110px;
    border-radius: 5%;
    padding: 0;
    cursor: pointer;
    border: 3px solid black;
    transition: background-color 0.2s ease;
}

.numberButton {
    background-color: rgb(48, 178, 31);
}

.numberButton:active {
    background-color: rgb(43, 152, 29);
}

.optionButton {
    background-color: rgb(91, 91, 234);
}

.optionButton:active {
    background-color: rgb(78, 78, 200);
}

.operatorButton {
    background-color: rgb(255, 119, 0);
}

.operatorButton:active {
    background-color: rgb(167, 79, 2);
}

