*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: #F7F7F7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {

    flex: 1;
}

#buttons {
    flex: 6;

    padding: 10px;
    display: flex;
}