:root {
    --green-button: rgb(48, 178, 31);
    --blue-button: rgb(91, 91, 234);
    --orange-button: rgb(255, 119, 0);
}

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 30px;
}

body {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: #F7F7F7;
    padding: 10px;
    border: 7px solid black;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    background-color: lightslategray;
    height: 90px;
    border: 4px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display p {
    font-size: 80px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#buttons button {
    height: 90px;
    width: 110px;
    border-radius: 5%;
    padding: 0;
    cursor: pointer;
    border: 3px solid black;
    transition: filter 0.2s ease;
}

.numberButton {
    background-color: var(--green-button);
}

.optionButton {
    background-color: var(--blue-button);
}

.operatorButton {
    background-color: var(--orange-button);
}

.numberButton:active, .optionButton:active, .operatorButton:active {
    filter: brightness(0.8);
}